<div class="container">
  <div class="row">
    <div class="coi-md-8 mt-5">
      <p>アプリの使い方</p>
      <p>
        ● 参加者側<br>
        1, パーティー募集から参加したい募集に参加申請をします。<br>
        2, 募集の製作者から承認されると、パーティー募集に追加されます。<br>
        3, 募集の申請ボタンが参加ボタンに変わっているため、参加ボタンをクリックしてチャットページに参加してください。<br>
      </p>
      <p>
        ● 募集する側<br>
        1, パーティー募集ページの募集作成ボタンから募集を作成します。<br>
        2, 募集を作成するとチャットページに移動します。<br>
        3, 参加したいユーザーから参加申請が送られてくるため、承認を押して承認します。<br>
        4, 承認した―ユーザーが参加します
      </p>
      <p class="mt-5">★その他機能</P>
      <p>
        ● フレンド機能<br>
        他のユーザーネームをクリックするとプロフィールの確認とフレンド申請が出来ます<br>
        フレンド申請をしてフレンドになると、フレンド一覧に表示されます、また個人チャットが出来るようになります<br>
      </p>
    </div>
  </div>
</div>