<% breadcrumb :root %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1 mt-5 p-5 rounded" id="description">
      <h3>パーティー募集</h3>
      <p>
        パーティー募集に参加して、みんなとゲームを楽しもう!!<br>
        gamers room専用のDiscordサーバーがあります。<br>
        ボイスチャットをするときはこのサーバーのボイスチャットのチャンネルを使用してください。
      </p>
      <div class="d-flex">
        <div id="room_description">
          <div class="d-flex flex-nowrap overflow-x-auto p-3" id="top_page_index">
            <% @top_page_rooms.each do |room| %>
              <%= render partial: 'rooms/recruit_card', locals: { room: room } %>
            <% end %>
          </div>
        </div>  
        <div class="d-flex align-items-center ms-4">
          <div class="btn-container">
            <%= link_to "もっと見る", rooms_path, class: "arrow-link-right" %>
          </div>
        </div>  
      </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-1 mt-5 mb-4 p-5 rounded" id="description">
      <h3>掲示板</h3>
      <p>
        みんなと雑談したり、ゲームの攻略について語り合おう!!
      </p>
      <div class="d-flex" id="board_description">
        <div class="d-flex flex-column overflow-auto pe-5 w-75">
          <% @top_page_boards.each do |board| %>
            <%= render partial: 'boards/board', locals: { board: board } %>
          <% end %>
        </div>
        <div class="d-flex align-items-center ms-4">
          <div class="btn-container">
            <%= link_to "もっと見る", boards_path, class: "arrow-link-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>