<div class='container'>
  <div class='row my-4'>
    <div class='col-md-4'>
      <h1>募集一覧</h1>
    </div>   
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <table class="table">
        <thead>
         <tr>
          <th scope="col">ID</th>
          <th scope="col">タイトル</th>
          <th scope="col">USER_ID</th>
          <th scope="col">製作者</th>
          <th scope="col">ゲームタイトル</th>
          <th scope="col"></th>
         </tr>
        </thead>
        <tbody>
          <%= render partial: 'room', collection: @rooms %>
        </tbody>
      </table>
    </div>
  </div>
</div>