<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li id="error_sentence"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
