<div class="card">
  <h6 class="card-header"><%= t(".title") %></h6>
  <div class="card-body">
    <span>
      <%= notification.sender.profile.nickname %> の募集の参加申請が承認されました。
    </span>
  </div>
</div>