<nav class="navbar navbar-expand-lg" id="header-nav">
  <div class="container-fluid">
    <a href="/" class="ms-3"><%= image_tag '1.png', size:"230x90" %></a>
    <div class="navbar-nav mt-3 me-5">
      <p><%= link_to new_user_session_path do %>
        <i class="bi bi-box-arrow-in-right me-1"></i><%= t('header.login') %>
      <% end %></p>
      <%= link_to setting_path do %><i class="bi bi-gear ms-3"></i><% end %>
    </div>
  </div>
</nav>