<div class="d-flex flex-column position-relative" id="sidebar-nav">
  <div class="ms-3">
    <%= image_tag '1.png', size: '150x150' %>
  </div>
  <div class="ms-3">
    <div class="navbar-item">
      <p><%= t('sidebar.invite') %></p>
    </div>
    <div class="navbar-item">
      <p><%= t('sidebar.friend') %></p>
    </div>
  </div>
</div>