<% if object.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger">
    <ul>
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>