<nav class="navbar navbar-expand-lg" id="header-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">gamer room</a>
    <div class="navbar-nav">
      <a class="nav-link me-3" href="#"><i class="bi bi-bell" style="font-size: 2rem"></i></a>
      <% if current_user.profile.present? %>
        <%= link_to user_profile_path(current_user), class: "nav-link me-3 mt-2 d-flex" do %>
          <div class="me-2">
            <%= image_tag current_user.profile.decorate.avatar_image(50, 50), class: "rounded-circle", id: "header-avatar" %>
          </div>
          <div class="align-self-center"><%= current_user.profile.nickname %></div>
        <% end %>
      <% end %>  
      <%= link_to setting_path, class: "nav-link me-3" do %><i class="bi bi-gear" style="font-size: 2rem"></i><% end %>
    </div>
  </div>
</nav>