<nav class="navbar navbar-expand-lg" id="header-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">gamer room</a>
    <div class="navbar-nav">
      <a class="nav-link me-3" href="#"><i class="bi bi-bell"></i></a>
      <a class="nav-link me-3" href="#">name</a>
      <a class="nav-link me-3"><i class="bi bi-gear"></i></a>
    </div>
  </div>
</nav>