<nav class="navbar navbar-expand-lg" id="header-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">gamer room</a>
    <div class="navbar-nav">
      <a class="nav-link me-3" href="#"><i class="bi bi-bell" style="font-size: 2rem"></i></a>
      <a class="nav-link me-3 mt-2" href="#"><%= current_user.decorate.fullname %></a>
      <%= link_to setting_path, class: "nav-link me-3" do %><i class="bi bi-gear" style="font-size: 2rem"></i><% end %>
    </div>
  </div>
</nav>