<div id="notification_field">
  <%= link_to notifications_path do %>
    <i class="bi bi-bell position-relative"></i>
      <div class="position-absolute top-25 start-75 translate-middle badge rounded-pill text-bg-secondary"><%= "#{notifications_count}" %></div>
  <% end %>
</div>