<div class="d-flex flex-column position-relative" id="sidebar-nav">
  <div class="ms-3">
    <%= image_tag '1.png', size: '150x150' %>
  </div>
  <div class="ms-3">
    <div class="navbar-item">
      <p>プロフィール</p>
    </div>
    <div class="navbar-item">
      <p>パーティー募集</p>
    </div>
    <div class="navbar-item">
      <p>フレンド一覧</p>
    </div>
  </div>
  <div class="position-absolute bottom-0" style="width: 100%">
    <hr>
    <div class="d-flex justify-content-center">
      <p id="logout-link">ログアウト</p>
    </div>  
  </div>
</div>