/* navbar header */
nav {
  height: 8vh;
}
nav span {
  color: white;
  font-weight: bold;
}
.navbar-brand {
  color: white;
}
.navbar-toggler-icon {
  color: white;
}
#admin_login_form .col {
    background-color: #CCCCCC;
    border-radius: 20px;
}
#admin-sidebar-nav {
  width: 10vw;
  height: 92vh;
  background-color: #2b3035;
  border-color: black;
  border-width: 3px;
}
#logout-link {
  color: white;
  font-weight: bold;
}
hr {
  border-width: 2px;
  border-color: white;
}
.navbar-item {
  margin-left: 20px;
}
.navbar-item p {
  color: white;   
  font-size: 18px;
  font-weight: bold;
}
/* registration */
#admin-registration label {
  font-weight: bold;
}
/* profile */
#admin-profile-edit-form label {
  font-weight: bold;
}
#admin-profile #admin-avatar {
  width: 100px;
  height: 100px;
}
/* game */
#admin-picture {
  width: 100px;
  height: 75px;
}
#admin-game-page #add-game-form {
  background-color: #CCCCCC;
  height: 320px;
}
/* tag */
#admin-tag-page #tag-form {
  background-color: #CCCCCC;
  height: 320px;
}
/* room */
#admin-room-show #admin-avatar {
  width: 50px;
  height: 50px;
}
/* contact */
#admin_contact_show span {
  font-weight: bold;
}
#admin_contact_show p {
  line-height: 1.6;
}