<div class="container" id="room-index">
  <div class="row">
    <div class="col-md-8 offset-md-1 my-3 d-flex">
      <h2 class="mt-3 me-3">募集一覧</h2>
      <%= link_to "募集作成", new_room_path, class: "btn btn-secondary btn-lg mt-3 ms-3", id: "create-btn" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8" id="rectuit-area">
      <div class="d-flex flex-nowrap">
        <% @rooms.each do |room| %>
          <%= render partial: 'recruit_card', locals: { room: room } %>
        <% end %>
      </div>
    </div>
  </div>
</div>