/* rayout, header, sidebar */
#sidebar-nav {
  width: 13vw;
  height: 90vh;
  background-color: #ffffff;
}
#header-nav {
  height: 10vh;
  background-color: #ff914d;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
} 
#header-nav #header-avatar {
  width: 40px;
  height: 40px;
}
body {
  background-color: #FEF3F3;
  width: 100%;
}
#content-main {
  width: 100%;
}
#main {
  height: 90vh;
  width: 100%;
}
p {
  color: #333;
}
span {
  color: #333;
}
h2 {
  color: #2B4650;
}
h3 {
  color: #2B4650;
}
h5 {
  color: #2B4650;
}
h6 {
  color: #2B4650;
}
#header-nav .navbar-nav a {
  color: #00053A;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
#header-nav .navbar-nav .bi {
  font-size: 28px;
  font-weight: bold;
}
#header-nav .navbar-nav a:hover {
  color: #AAAAAA;
}
#header-nav .navbar-nav .badge {
  font-size: 14px;
}
.navbar-item p a {
  color: #2B4650;
  text-decoration: none;
}
.navbar-item p a:hover {
  color: #AAAAAA;
}
.navbar-item {
  margin-left: 20px;
}
.navbar-item p {
  font-size: 18px;
  font-weight: bold;
}
#friend-index {
  background-color: #426B7A;
  border-radius: 10px;
  height: 50vh;
}
#friend-index p {
  color: #FFFAFA;
}
#friend-index .active {
  color: #AAAAAA !important;
}
#friend-index #nickname {
  color: #FFFAFA;
}
#friend-index #nickname:hover {
  color: #AAAAAA;
}
#friend-index .dropdown-toggle::after {
  display: none !important;
}
#friend-avatar {
  width: 30px;
  height: 30px;
}
#drop_down a {
  color: #2B4650;
}
#drop_down a:hover {
  color: #AAAAAA;
}
#logout-link {
  font-weight: bold;
  color: #2B4650;
  text-decoration: none;
}
hr {
  border-width: 2px;
  border-color: black;
}
#user-dropdown:hover {
  color: #AAAAAA;
}
#edit_btn_area {
  border-radius: 30px;
  background-color: #007a3f;
  width: 100px;
  height: 35px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}
#edit_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#edit_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#delete_btn_area {
  border-radius: 30px;
  background-color: #D80028;
  width: 100px;
  height: 35px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}
#delete_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#delete_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#bg_delete_btn_area {
  border-radius: 30px;
  background-color: #D80028;
  width: 150px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}
#bg_delete_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#bg_delete_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#full_btn_area {
  border-radius: 30px;
  background-color: #D80028;
  width: 150px;
  height: 40px;
  pointer-events: none
}
#full_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#bg_success_btn_area {
  border-radius: 30px;
  background-color: #426B7A;
  width: 150px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}
#bg_success_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#bg_success_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
label {
  font-weight: bold;
  color: #2E373B;
}

/* top_page */
#description {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#board_description {
  height: 320px;
}
#room_description {
  width: 750px;
}
#description p {
  font-weight: bold;
}
#discord_btn_area {
  border-radius: 30px;
  background-color: #426B7A;
  width: 250px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}
#discord_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#discord_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

/* description */
#description_field {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

/* ragistration/new edit */
#registration-form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#user-edit-form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
.btn-container {
  text-align: center;
  margin: 2em 0;
}
.btn-container:hover {
  color: #AAAAAA;
}
.arrow-link-right {
  --arrow-color: #333;
  font-weight: bold;
  display: inline-flex; 
  align-items: center; 
  color: var(--arrow-color);
  text-decoration: none;
  position: relative; 
}
.arrow-link-right:hover {
  color: #AAAAAA;
}
.arrow-link-right::after {
  content: '';
  position: absolute;
  left: 100%; 
  width: 30px; 
  height: 10px; 
  border-bottom: 1px solid var(--arrow-color);
  border-right: 1px solid var(--arrow-color);
  transform: skewX(50deg); 
  transition: margin-left 0.3s ease;
}
.arrow-link-right:hover::after {
  margin-left: 10px;
}

/* session/new */
#session-form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#to_registration_btn_area {
  border-radius: 30px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-color: #426B7A;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#to_registration_btn {
  color: #426B7A;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#to_registration_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#session_btn_area {
  border-radius: 30px;
  background-color: #426B7A;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#session_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#session_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
/* password/new edite */
#password_reset_mail {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#password_reset_form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
/* setting */
#setting-show #user-info {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#user-info tr{
  color: #2E373B;
}
#setting-show #terms_of_rule {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#terms_of_rule a {
  color: #2B4650;
  text-decoration: none;
  font-weight: bold;
}
#terms_of_rule a:hover {
  color: #AAAAAA;
}
#setting-show td {
  font-size: 18px;
}
#agreement_page {
  background-color: #ffffff;
  padding: 0px 30px;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#privacy_policy_page {
  background-color: #ffffff;
  padding: 0px 30px;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
.content p {
  line-height: 1.6;
}
#contact_form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#contact_show {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#contact_show span {
  font-weight: bold;
  color: #2E373B;
}
#contact_show p {
  line-height: 1.6;
  font-weight: 450;
}
/* profile/new show edit */
#profile-new-form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#profile-new-form #default-avatar {
  border-color: black;
  border-style: solid;
  border-width: medium;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#profile-show-page #status-area {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#profile-show-page #profile-avatar {
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: 100px;
  height: 100px;
}
#profile-show-page #intro-area {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#profile-show-page #intro-area span {
  font-weight: bold;
  line-height: 1.6;
}
#profile-edit-form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
#preview_field {
  background-color: white;
  padding: 5px;
  width: 160px;
  height: 160px;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
/* rooms */
#create_btn_area {
 border-radius: 30px;
  background-color: #426B7A;
  width: 170px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}
#create_btn {
  color: #ffffff;
  height: 45px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#create_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#search_btn_area {
  border-radius: 10px;
  background-color: #426B7A;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#search_btn {
  color: #ffffff;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 100%;
}
#new_room_form {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#edit_room_form {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#room_title {
  color: #333;
}
#room_title h6 {
  color: #333;
}
#room_title:hover {
  color: #AAAAAA;
}
#room_title h6:hover {
  color: #AAAAAA;
}
#search_btn_area:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#recruit-card #card-avatar {
  width: 25px;
  height: 25px;
}
#recruit-card {
  width: 250px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#recruit-card:hover {
  transform: translateY(-5px);
}
#recruit-card .card-body {
  width: 250px;
}
#recruit-card #search {
  color: #2B4650;
  text-decoration: none;
}
#recruit-card #search:hover {
  color: #AAAAAA;
}
#recruit-card #search span:hover {
  color: #AAAAAA;
}
#recruit-card #game-picture {
  border-radius: 5px 5px 0 0;
}
#show-area {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#tag-area span {
  background-color: #D7EEFF;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  padding: 2px 3px;
  font-size: 12px;
}
#chat-board #room-avatar {
  width: 40px;
  height: 40px; 
}
#chat-board input {
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#permit_primary_btn {
  background-color: #426B7A;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#permit_danger_btn {
  background-color: #D80028;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#permit_primary_btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#permit_danger_btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#user-list {
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #426b7a;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#permit-user {
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #426b7a;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#chat-board span {
  font-weight: bold;
}
#chat-board .dropdown-toggle::after {
  display: none !important;
}
#message-field {
  background-color: #ffffff;
  height: 60vh;
  border-style: solid;
  border-color: #426b7a;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#message-avatar {
  width: 40px;
  height: 40px;
}
#detail-field {
  height: 60vh;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #426b7a;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#detail-field #description {
  font-weight: bold;
}
#twitter {
  color: black;
  font-size: 24px;
}
#twitter:hover {
  color: #AAAAAA;
}
/* friend */
#message-form {
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
/* notification */
#notification-index-page #main-area {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#notification-index-page .card-header {
  color: #ffffff;
  background-color: #426b7a;
}
#notification-index-page span {
  color: black;
}
.gsi-material-button {
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none; */
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}
.breadcrumbs a {
  color: #2B4650;
  font-weight: bold;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #AAAAAA;
}
.breadcrumbs .current {
  font-weight: bold;
}

/* boards */
#board_card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#board_card:hover {
  transform: translateY(-5px);
}
#board_card h5 a {
  color: #333;
}
#board_card h5 a:hover {
  color: #AAAA !important;
}
#board_card #search {
  color: #2B4650;
  text-decoration: none;
}
#board_card #search span {
  color: #2B4650;
}
#board_card #search:hover {
  color: #AAAAAA;
}
#board_card #search span:hover {
  color: #AAAAAA;
}
#board_new_form {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#board_show {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#board_show #search {
  color: #2B4650;
  text-decoration: none;
}
#board_show #search span {
  color: #2B4650;
}
#board_show #search span:hover {
  color: #AAAAAA;
}
#board_show #search:hover {
  color: #AAAAAA;
}
#comment span {
  font-weight: bold;
}
#comment #body {
  font-size: 18px;
  color: #333;
}
#comment p {
  font-size: 18px;
}
#comment-avatar {
  width: 30px;
  height: 30px;
}
#comment-form span {
  font-weight: bold;
  font-size: 25px;
}
#comment-children {
  background-color: #EEEEEE;
}
#comment-children span {
  font-weight: bold;
}
#comment-reply {
  color:#426B7A;
  border: none;
}
#comment-reply:hover {
  color: #330000;
}
