/* rayout, header, sidebar */
#sidebar-nav {
  width: 13vw;
  height: 100vh;
  background-color: #ffffff;
  border-color: black;
  border-width: 3px;
}
#header-nav {
  height: 10vh;
  background-color: #FB9966;
}
#header-nav #header-avatar {
  width: 50px;
  height: 50px;
}
body {
  background-color: #FEF3F3;
}
#header-nav .nav-link {
  font-size: 20px;
  font-weight: bold;
}
#header-nav .bi {
  color: black;
}
#header-nav .bi:hover {
  color: #AAAAAA;
}
.bi {
  font-size: 24px;
}
.navbar-brand {
  font-size: 32px;
  font-family: cursive;
}
.navbar-item {
  margin-left: 20px;
}
.navbar-item p {
  font-size: 18px;
  font-weight: bold;
}
#friend-index {
  background-color: #426B7A;
  border-radius: 10px;
  height: 50vh;
}
#friend-index p {
  color: #FFFAFA;
}
#friend-index #nickname {
  color: #FFFAFA;
}
#friend-index #nickname:hover {
  color: #AAAAAA;
}
#friend-index .dropdown-toggle::after {
  display: none !important;
}
#friend-avatar {
  width: 30px;
  height: 30px;
}
#logout-link {
  font-weight: bold;
}
hr {
  border-width: 2px;
  border-color: black;
}
#user-dropdown:hover {
  color: #AAAAAA;
}

/* error_message */

/* ragistration/new edit */
#registration-form label {
  font-weight: bold;
}
#user-edit-form label {
  font-weight: bold;
}

/* session/new */
#session-form label {
  font-weight: bold;
}

/* password/new edite */
#password_reset_mail label {
  font-weight: bold;
}
#password_reset_form label {
  font-weight: bold;
}

/* setting */
#setting-show #user-info {
  height: 30vh;
  background-color: #ffffff;
  padding-top: 60px;
  margin-top: 50px;
  border-radius: 20px;
}
#setting-show #terms_of_rule {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 50px;
}

/* profile/new show edit */
#profile-new-form label {
  font-weight: bold;
}
#profile-new-form #default-avatar {
  border-color: black;
  border-style: solid;
  border-width: medium;
}
#profile-show-page #status-area {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 50px;
  padding-left: 40px;
  height: 20vh;
}
#profile-show-page #profile-avatar {
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: 100px;
  height: 100px;
}
#profile-show-page #profile-box {
  position: relative;
}
#profile-show-page #profile-box #profile-name {
  position: absolute;
  left: 140px;
  top: 30px;
}
#profile-show-page #profile-box #profile-sex {
  position: absolute;
  left: 140px;
  top: 70px;
}
#profile-show-page #intro-area {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 40px;
}
#profile-show-page #intro-area span {
  font-weight: bold;
}
#profile-edit-form label {
  font-weight: bold;
}
/* rooms */
#recruit-card #card-avatar {
  width: 25px;
  height: 25px;
}
#recruit-card {
  width: 250px;
}
#recruit-card #game-picture {
  border-radius: 5px 5px 0 0;
}
label {
  font-weight: bold;
}
#show-area {
  background-color: #ffffff;
  margin-top: 100px;
  padding: 30px 40px;
  border-radius: 20px;
}
#tag-area span {
  background-color: #D7EEFF;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  padding: 2px 3px;
  font-size: 12px;
}
#chat-board #room-avatar {
  width: 40px;
  height: 40px; 
}
#user-list {
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #426b7a;
}
#permit-user {
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #426b7a;
}
#chat-board span {
  font-weight: bold;
}
#chat-board .dropdown-toggle::after {
  display: none !important;
}
#message-field {
  background-color: #ffffff;
  height: 60vh;
  border-style: solid;
  border-color: #426b7a;
  border-width: 2px;
  border-radius: 10px;
}
#message-avatar {
  width: 40px;
  height: 40px;
}
#detail-field {
  height: 60vh;
}
#detail-field .bi {
  color: black;
}
#detail-field .bi:hover {
  color: #AAAAAA;
}
/* notification */
#notification-index-page #main-area {
  background-color: #ffffff;
  border-radius: 20px;
}
.gsi-material-button {
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none; */
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}
